### NBA Power Rankings Exercise

**About:**


The data set used for this exercise contains **NBAâ€™s Power Rankings** for weeks 2 through week 25 for the 2022-2023 NBA Season. 

* There are 30 teams in the NBA (in the 2022-2023 season).

The "Power Ranking" is the order of the team's rank in the league that week. Thus, a 1 means 1st place (top team that week). 2 means 2nd place. 30 means last place. Each week, the the ranking can change as teams' records get better or worse.

* **Each row** represents a different team, and 

* **each column** represents a different week. 


Here is a list of the team names and their corresponding row index in the data.

In [2]:
names = ['Atlanta Hawks','Boston Celtics','Brooklyn Nets','Charlotte Hornets',
        'Chicago Bulls','Cleveland Cavaliers','Dallas Maverics','Denver Nuggets',
        'Detroit Pistons','Golden State Warriors','Houston Rockets','Indana Pacers',
        'LA Clippers', 'LA Lakers','Memphis Grizzlies','Miami Heat','Milwaulkee Bucks',
        'MN Timberwolves','New Orleans Pelicans','NY Knicks','OK City Thunder','Orlando Magic',
        'Philadelphia 76ers','Phoenix Suns','Protland Trailblazers','Sacramento Kings',
        'San Antonio Spurs','Toronto Raptors','Utah Jazz','Washington Wizards']

In [4]:
for i in range(len(names)):
    print("Team ", i, "-", names[i])

Team  0 - Atlanta Hawks
Team  1 - Boston Celtics
Team  2 - Brooklyn Nets
Team  3 - Charlotte Hornets
Team  4 - Chicago Bulls
Team  5 - Cleveland Cavaliers
Team  6 - Dallas Maverics
Team  7 - Denver Nuggets
Team  8 - Detroit Pistons
Team  9 - Golden State Warriors
Team  10 - Houston Rockets
Team  11 - Indana Pacers
Team  12 - LA Clippers
Team  13 - LA Lakers
Team  14 - Memphis Grizzlies
Team  15 - Miami Heat
Team  16 - Milwaulkee Bucks
Team  17 - MN Timberwolves
Team  18 - New Orleans Pelicans
Team  19 - NY Knicks
Team  20 - OK City Thunder
Team  21 - Orlando Magic
Team  22 - Philadelphia 76ers
Team  23 - Phoenix Suns
Team  24 - Protland Trailblazers
Team  25 - Sacramento Kings
Team  26 - San Antonio Spurs
Team  27 - Toronto Raptors
Team  28 - Utah Jazz
Team  29 - Washington Wizards

**Problem 1: Import matplotlib.pyplot and numpy** (as plt and np)

In [3]:
import matplotlib.pyplot as plt
import numpy as np

**Problem 2: Use the loadtxt function from the numpy library to load the data.**

In [5]:
np.loadtxt()

**Problem 3: Use .shape command to verify that the data set contains data for 30 different teams across 24 weeks.**

In [6]:
# Input your answer in this cell:

**Problem 4: Choose a team from the list above and print their rankings across all 24 weeks.**

Add a comment to your code cell stating the name of the team you chose.

In [7]:
# Input your answer in this cell:

**Problem 5: What was the final ranking of the team that you chose.**

In [11]:
# Input your answer in this cell:

**Problem 6: Calculate the Mean, Standard Deviation, Min, and Max rankings for the team you selected.**

In [12]:
# Input your answer in this cell:

**Problem 7: Print the last column (week 25) of the data set.**

In [8]:
# Input your answer in this cell:

**Porblem 8: Calculate the average rankings for each of the 30 teams.**

In [9]:
# Input your answer in this cell:

**Problem 9: Construct a line plot that showcases your team's ranking for each week.**

In [10]:
# Input your answer in this cell: